<%- include('../../partials/header') %>
<% var dayRented = Math.ceil((new Date() - item.rentedOn)/86400000) %>
<h4>Return "<%= item.name %>"</h4>
<table>
    <tbody>
        <tr>
            <th>Last Condition</td>
            <td><%= item.condition %></td>
        </tr>
        <tr>
            <th>Rented on</th>
            <td>
                <%= item.rentedOn.toDateString() %>
            </td>
        </tr>
        <tr>
            <th>Total</th>
            <td><%= dayRented  %> day x <%= item.pricePerDay %> = <%= dayRented * item.pricePerDay %></td>
        </tr>
    </tbody>
</table>
<h5>Return condition</h5>
<form action="" method="POST">
    <div class="input-field col s6">
        <select class="browser-default" name="condition" id="condition">
            <option value="" disabled selected>Choose Condition</option>
            <option value="GOOD">Good</option>
            <option value="MEDIUM">Medium</option>
            <option value="BAD">Bad</option>
        </select>
    </div>
    <button class='btn'>Return</button>
</form>
<%- include('../../partials/footer') %>