<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <body>
        <table>
            <thead>
                <h3>Gasoline</h3>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quota</th>
                    <th>total car</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <%  gasolines.forEach(gasoline=>{  %>
                <tr>
                    <td><%= gasoline.name   %></td>
                    <td><%= gasoline.price    %></td>
                    <td><%= gasoline.quota    %></td>
                    <td><%= gasoline.Vehicles.length %></td>
                    <td>
                        <a href="/gasolines/<%=gasoline.id%>""><button>show all car</button></a>
                    </td>
                </tr>
                <%  })  %>
            </tbody>
        </table>
    </body>
</body>

</html>