<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <%- include('../partials/style') %>
</head>
<body>
  <div class="container">
    <%- include('../partials/header') %>
    <%- include('add-a-movie-form') %>
    <hr>
    <% if (movies.length) { %>
      <table border="1" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Available To Rent</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < movies.length; i++) { %>
              <tr>
                <td><%= movies[i].id %></td>
                <td><%= movies[i].title %></td>
                <td><%= movies[i].description %></td>
                <td><%= movies[i].rating %></td>
                <td><%= movies[i].availableToRent ? 'Yes' : 'No' %></td>
                <td width="90" class="text-center">
                  <a href="/movies/<%= movies[i].id %>/edit">Edit</a>
                  &nbsp;
                  <a href="/movies/<%= movies[i].id  %>/delete">Delete</a>
                </td>
              </tr>
          <% } %>
        </tbody>
      </table>
    <% } else { %>
        <p class="text-center">No data.</p>
    <% } %>
  </div>
</body>
</html>
