<%
    if(typeof member === "undefined"){
        var member = {};
    }
%>

<div class="card">
    <div class="card-content">
        <span class="card-title"><%= member.fullName %> (<%= member.nik %>)</span>
        <p>
            <%= member.phone %>
            <br>
            <%= member.address %>
        </p>
    </div>
    <div class="card-action">
        <a href="/members/<%= member.id %>/edit">Edit</a>
        <a href="/members/<%= member.id %>/delete">Delete</a>
    </div>
</div>