<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Detail Outlet : <%= data.name %></h1>
    <%= data.name %> <br>
    <%= data.food_type %> <br>
    <%= data.rating %> <br>
    <%= data.location %> <br>
    <%= data.total_employees %> 

  </body>
</html>
